/*-- scss:defaults --*/

$mainColor: #191919 !default;
$headingColor: #191919 !default;
$linkColor:  #008094; 

$mainFontSize: 32px !default;
$heading1Size: 2.3em !default;
$heading2Size: 1.5em !default;
$heading3Size: 1.2em !default;
$heading4Size: 1em !default;

