
.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 0;
  right: 12px;
  max-width: unset !important;
  max-height: unset !important;
  height: 95px !important;
  width: 350px !important;
  z-index: 2;
}



.custom-footer {
  text-align: center;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  right: 210px;
}

.custom-blockquote {
  line-height: 1.5; /* Improve text readability */
  padding-top: 35px;
  padding: 1.5rem 1rem;
  background-color: #FAF9F6;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  color: #5c5c5c;
  font-size: 95%;
  margin-left: 1.5rem;
  border: none;
  font-family: 'Overpass Mono',  Courier, monospace;
  font-style: normal;
}



.right-align {
  text-align: right;
}

.outlined-shadow-image {
  outline: 2px solid #333; /* Adjust thickness and color as needed */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adjust horizontal offset, vertical offset, blur radius, and color/opacity */
}

