

$ui-gold: #F1B300 !default;
$ui-metalgold: #857550 !default;
$ui-silver: #808080 !default;
$ui-black: #191919 !default;
$ui-teal: #008094 !default;
$ui-purple: #5E48FF !default; 

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $ui-purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $ui-gold,
  "green":      $green,
  "teal":       $ui-teal,
  "cyan":       $cyan,
  "black":      $ui-black,
  "white":      $white,
  "silver":     $ui-silver,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

$mainColor: $black !default;
$mainfont: "Public Sans", !default;
$headingFont: "Public Sans", !default;
$linkColor: $ui-purple, !default;

$mainFontSize: 0.7em, !default;

:root {
  --r-background-color: #{$backgroundColor};
  --r-main-font: #{$mainFont};
  --r-main-font-size: #{$mainFontSize};
  --r-main-color: #{$mainColor};
  --r-block-margin: #{$blockMargin};
  --r-heading-margin: #{$headingMargin};
  --r-heading-font: #{$headingFont};
  --r-heading-color: #{$headingColor};
  --r-heading-line-height: #{$headingLineHeight};
  --r-heading-letter-spacing: #{$headingLetterSpacing};
  --r-heading-text-transform: #{$headingTextTransform};
  --r-heading-text-shadow: #{$headingTextShadow};
  --r-heading-font-weight: #{$headingFontWeight};
  --r-heading1-text-shadow: #{$heading1TextShadow};
  --r-heading1-size: #{$heading1Size};
  --r-heading2-size: #{$heading2Size};
  --r-heading3-size: #{$heading3Size};
  --r-heading4-size: #{$heading4Size};
  --r-code-font: #{$codeFont};
  --r-link-color: #{$linkColor};
  --r-link-color-dark: #{color.scale( $linkColor, $lightness: -15% )};
  --r-link-color-hover: #{$linkColorHover};
  --r-selection-background-color: #{$selectionBackgroundColor};
  --r-selection-color: #{$selectionColor};
  --r-overlay-element-bg-color: #{$overlayElementBgColor};
  --r-overlay-element-fg-color: #{$overlayElementFgColor};
}